.plan-section{
    width: 80%;
}
.small-text{
    font-size: 12px;
}
.img-program{
    height: 47px;
    width: 47px;
}
.add-border{
    border: 1px solid blue;
}

#card-1{
    border: 2px solid #fb923c;
    transition: all 1s ease;
}