.carousel-indicators{
    top: 100% !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 10px !important;
        height: 10px !important;
        background-color: #ccc !important;
        border-radius: 50% !important;
        
        border: 2px solid #000 !important;
    }
    .carousel-indicators .active {
        opacity: 1;
        background-color: #000 !important;
    }
    .carousel-control-prev{
        display: none !important;
    }
    .carousel-control-next{
        display: none !important;
    }

    @media screen and (min-width: 1024px){
       #carouselExampleIndicators{
           display: none !important;
       } 
    }
    @media screen and (max-width: 1023px){
        #hidemobile{
            display: none !important;
        } 
     }